@import
url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap')
;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
}
.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) ,rgba(128, 128, 128, 1));
    display: flex;
}
.ellipse1 {
    border-radius: 50%;
    position: absolute;
    width: 1819px;
    height: 814px;
    left: -187px;
    top: -551px;
    background: #C4C4C4;
}
.ellipse2
{
    border-radius: 50%;
    position: absolute;
    width: 1440px;
    height: 1026px;
    left: 0px;
    top: -700px;
    background: linear-gradient(180deg, #FF67A3 66.33%, rgba(255, 103, 176, 0.45) 100%);
    backdrop-filter: blur(10.5px);
}
.nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 1155px;
    position: absolute;
    left: 4.24%;
    top: 4.25%;
}
.home
{
    width: 112px;
    height: 70px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 70px;
    color: #454A55;
}
a {
    text-decoration: none;
    color: inherit;
}
.title{
    position: absolute;
    width: 800px;
    height: 157px;
    left: 450px;
    top: 90px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 180px;
    color: #454A55;
}

.ellipse3 {
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: url(SAMPLE_PIC.jpeg);
    transition: transform 2s,opacity 2s;
    left: 0px;
    top: 0px;
}

.ellipse3:hover {
    width: 240px;
    height: 240px;
    transform: rotate(360deg);
    transition: 2s;
    opacity: 0.20;
    filter: blur(4px);
}

.ellipse3a{
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transition: transform 2s,opacity 2s;
    left: 70px;
    top: 370px;
    background: #FFFFFF;
    text-align: center;
    font-size: 28px;
}

.ellipse3a_inner{
    width: 104px;
    height: 240px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 77px;
    color: #454A55A6;
    flex: none;
    order: 0;
    flex-grow: 0;
}



.ellipse4 {
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: url(SAMPLE_PIC.jpeg);
    transition: transform 2s,opacity 2s;
    left: 430px;
    top: 370px;

}
.ellipse4:hover{
    width: 240px;
    height: 240px;
    transition: 2s;
    opacity: 0.20;
    transform: rotate(360deg);
    filter: blur(4px);
}
.ellipse4a{
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transition: transform 2s,opacity 2s;
    left: 0px;
    top: 0px;
    text-align: center;
    font-size: 28px;
}
.ellipse4a_inner{
    width: 104px;
    height: 240px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 77px;
    color: #454A55A6;
    flex: none;
    order: 0;
    flex-grow: 0;
}



.ellipse5 {
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: url(SAMPLE_PIC.jpeg);
    transition: transform 2s,opacity 2s;
    left: 780px;
    top: 370px;
}

.ellipse5:hover {
    width: 240px;
    height: 240px;
    transform: rotate(360deg);
    transition: 2s;
    opacity: 0.20;
    filter: blur(4px);
}

.ellipse5a{
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transition: transform 2s,opacity 2s;
    left: 0px;
    top: 0px;
    text-align: center;
    font-size: 28px;
}
.ellipse5a_inner{
    width: 104px;
    height: 240px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 77px;
    color: #454A55A6;
    flex: none;
    order: 0;
    flex-grow: 0;
}




.ellipse6 {
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: url(SAMPLE_PIC.jpeg);
    transition: transform 2s,opacity 2s;
    left: 1140px;
    top: 370px;
}

.ellipse6:hover {
    width: 240px;
    height: 240px;
    transform: rotate(360deg);
    transition: 2s;
    opacity: 0.20;
    filter: blur(4px);
}

.ellipse6a{
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transition: transform 2s,opacity 2s;
    left: 0px;
    top: 0px;
    text-align: center;
    font-size: 28px;
}
.ellipse6a_inner{
    width: 104px;
    height: 240px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 77px;
    color: #454A55A6;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.ellipse7 {
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: url(SAMPLE_PIC.jpeg);
    transition: transform 2s,opacity 2s;
    left: 70px;
    top: 750px;
}

.ellipse7:hover {
    width: 240px;
    height: 240px;
    transform: rotate(360deg);
    transition: 2s;
    opacity: 0.20;
    filter: blur(4px);
}
.ellipse7a{
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transition: transform 2s,opacity 2s;
    left: 0px;
    top: 0px;
    text-align: center;
    font-size: 28px;
}
.ellipse7a_inner{
    width: 104px;
    height: 240px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 77px;
    color: #454A55A6;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.ellipse8 {
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: url(SAMPLE_PIC.jpeg);
    transition: transform 2s,opacity 2s;
    left: 430px;
    top: 750px;
}

.ellipse8:hover {
    width: 240px;
    height: 240px;
    transform: rotate(360deg);
    transition: 2s;
    opacity: 0.20;
    filter: blur(4px);
}

.ellipse8a{
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transition: transform 2s,opacity 2s;
    left: 0px;
    top: 0px;
    text-align: center;
    font-size: 28px;
}
.ellipse8a_inner{
    width: 104px;
    height: 240px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 77px;
    color: #454A55A6;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.ellipse9 {
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: url(SAMPLE_PIC.jpeg);
    transition: transform 2s,opacity 2s;
    left: 780px;
    top: 750px;
}

.ellipse9:hover {
    width: 240px;
    height: 240px;
    transform: rotate(360deg);
    transition: 2s;
    opacity: 0.20;
    filter: blur(4px);
}
.ellipse9a{
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transition: transform 2s,opacity 2s;
    left: 0px;
    top: 0px;
    text-align: center;
    font-size: 28px;
}
.ellipse9a_inner{
    width: 104px;
    height: 240px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 77px;
    color: #454A55A6;
    flex: none;
    order: 0;
    flex-grow: 0;
}



.ellipse10 {
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: url(SAMPLE_PIC.jpeg);
    transition: transform 2s,opacity 2s;
    left: 1140px;
    top: 750px;
}

.ellipse10:hover {
    width: 240px;
    height: 240px;
    transform: rotate(360deg);
    transition: 2s;
    opacity: 0.20;
    filter: blur(4px);
}

.ellipse10a{
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transition: transform 2s,opacity 2s;
    left: 0px;
    top: 0px;
    text-align: center;
    font-size: 28px;
}
.ellipse10a_inner{
    width: 104px;
    height: 240px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 77px;
    color: #454A55A6;
    flex: none;
    order: 0;
    flex-grow: 0;
}



.ellipse11 {
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: url(SAMPLE_PIC.jpeg);
    transition: transform 2s,opacity 2s;
    left: 250px;
    top: 1130px;
}

.ellipse11:hover {
    width: 240px;
    height: 240px;
    transform: rotate(360deg);
    transition: 2s;
    opacity: 0.20;
    filter: blur(4px);
}

.ellipse11a{
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transition: transform 2s,opacity 2s;
    left: 0px;
    top: 0px;
    text-align: center;
    font-size: 28px;
}
.ellipse11a_inner{
    width: 104px;
    height: 240px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 77px;
    color: #454A55A6;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ellipse12 {
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: url(SAMPLE_PIC.jpeg);
    transition: transform 2s,opacity 2s;
    left: 605px;
    top: 1130px;
}

.ellipse12:hover {
    width: 240px;
    height: 240px;
    transform: rotate(360deg);
    transition: 2s;
    opacity: 0.20;
    filter: blur(4px);
}
.ellipse12a{
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transition: transform 2s,opacity 2s;
    left: 0px;
    top: 0px;
    text-align: center;
    font-size: 28px;
}
.ellipse12a_inner{
    width: 104px;
    height: 240px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 77px;
    color: #454A55A6;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.ellipse13 {
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: url(SAMPLE_PIC.jpeg);
    transition: transform 2s,opacity 2s;
    left: 960px;
    top: 1130px;
}

.ellipse13:hover {
    width: 240px;
    height: 240px;
    transform: rotate(360deg);
    transition: 2s;
    opacity: 0.20;
    filter: blur(4px);
}

.ellipse13a{
    position: absolute;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transition: transform 2s,opacity 2s;
    left: 0px;
    top: 0px;
    text-align: center;
    font-size: 28px;
}
.ellipse13a_inner{
    width: 104px;
    height: 240px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 77px;
    color: #454A55A6;
    flex: none;
    order: 0;
    flex-grow: 0;
}