@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #a8a6a6 0%, #f4efde 0.01%, #c6c4c4 0.02%, #DBDBDB 100%);
    overflow: hidden;
    font-family: 'Baloo 2';
    font-size: 44px;
    font-weight: 400;
    color: #454A55;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    gap: 48px;
    margin: 12px 32px 0px 0px;
}

.darkMode {
    position: absolute;

    right: 105.54%;
    top: 0.25%;
    bottom: 10%;
    

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.textContainer {
    width: 56.87vw;
    height: 68.617vh;
    background: linear-gradient(127.07deg, rgba(255, 126, 173, 0.75) 0%, rgba(148, 145, 145, 0.15) 100.01%);    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    backdrop-filter: blur(15px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}

.title {
    font-size: 88px;
    font-weight: 700;
}

.info {
    margin: 0 4.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

a.about {
    color: #FF019A;
}

.ellipse1, .ellipse2, .hourGlass, .timer {
    position: absolute;
}

.ellipse1 {
    height: 510px;
    width: 510px;
    border-radius: 50%;
    background-color: #FF67B0;
    left: -370px;
    top: -230px;
    z-index: -1;
    filter: blur(1px);
}

.pomodoro {
    position: relative;
    top: -10px;
    background: linear-gradient(180deg, rgba(154, 154, 154, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    box-shadow: inset 10px 20px 20px rgba(255, 255, 255, 0.25);
    border-radius: 54%;
    height: 135px;
    width: 135px;    
}

.pomodoro img 
{
    position: relative;
    top: -18px;
    right: -7px;
}

.timer
{
    right:92%;
    top: 73.81%;
}

.hourGlass
{
left: 89.29%;
top: 28.98%;
z-index: -1;
filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));
transform: rotate(-1deg)
}
