@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
      
}
.background{
    position: relative;
    min-width: 1440px; 
    min-height: 1024px;
    background-image:  linear-gradient(180deg, #C4C4C4 0%, #FFFBED 0.01%, #FFFFFF 0.02%, #DBDBDB 100%);
}
.ellipse1
{
    position: absolute;
width: 590px;
height: 600px;
left: -113px;
top: -108px;
border-radius: 10000px;
background: #FF67B0;
filter: blur(1.35px);
}

.about{
    width: 196px;
height: 70px;
font-family: 'Baloo 2';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 80px;
position:absolute;
top: 10.5px;
right:0px;
color: #454A55;
flex: none;
order: 0;
flex-grow: 0;
}

.moon{
    position: absolute;
    top: 10.5px;
    right:210px;
color: #454A55
}

.main
{
    gap:55px;
    flex-direction: column;
    isolation: isolate;
    align-items: center;
    display: flex;
    position: absolute;
    left: 210px;
    width: 891px;
    height: 634px;
    top: 141px;
    padding: 48px 64px 24px;
    border-radius: 50px;
    backdrop-filter: blur(25px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    background: linear-gradient(127.07deg, rgba(255, 126, 173, 0.75) 0%, rgba(218, 218, 218, 0.15) 100.01%);
}

.pomodoro
{
width: 763px;
height: 157px;
font-family: 'Baloo 2';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 167px;
text-align: center;
color: #454A55;
order: 0;
flex-grow: 0;
z-index: 0;
flex: none;
}

.info
{
 width: 763px;
height: 350px;
font-family: 'Baloo 2';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 70px;
color: #454A55;
flex: none;
order: 1;
text-align: justify;
flex-grow: 0;
z-index: 1;
}

.ellipse2
{
 position: absolute;
width: 287px;
height: 287px;
left: 750px;
top: 680px;
border-radius: 10000px;
background: #FF3E82;
filter: blur(2px);
}

.glass
{
    position: absolute;
    left: 78.29%;
    right: 7.14%;
    top: 55.98%;
    bottom: 39.09%;
    
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));
    transform: rotate(2deg);
}

.timer
{ 
 position: absolute;
width: 163px;
height: 163px;
left: 632px;
top: 780px;
background: linear-gradient(180deg, rgba(154, 154, 154, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
box-shadow: inset 10px 20px 20px rgba(255, 255, 255, 0.25);
backdrop-filter: blur(15px);
border-radius: 110px;
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;
}
.clock
{
    position: absolute;
left: 7.15%;
right: 76.01%;
top: 97.81%;
bottom: 18.48%;
}